.sidenav {
  display: flex;
  flex: 20%;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-right: 2px solid rgb(226, 226, 226);

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    width: 100%;
    height: 80px;
  }
}
